body {
    background-color: #e9ecef;
    
}

.container{
 
    padding-bottom: 240px;
    
    }




.list-group-item {
    font-size:12px;

}

.list-group-item.active {
    font-size:14px;
    background-color: darkslategrey;
    border-color: darkslategrey;

}

.btn-link {
    font-weight: 400;
    color: #041527;
    text-decoration: none;
}