

.pjcontainer{

    padding-right:20px;
    background-color: #fff;
   
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  
}


     .picture{
        float:right;
        
        margin-top:-70px;
      

        }

        .list-group-item.active {
            font-size:14px;
            background-color: darkslategrey;
            border-color: darkslategrey;
        
        }

body {
    background-color: #e9ecef;
 
}

.jumbotron{
   
    background-color: #fff;
    height:90%;
    margin-bottom: -20px;

}

.col-sm{

border:0px;

align-content: center;
}

.card{
   
    border:0px;
    margin:20px;
    align-items: center;
   /*shadow: 5px 5px 10px #888888;*/
    }

    .card img{
        width:90%;
        max-height: 150px;
        
       
       /*shadow: 5px 5px 10px #888888;*/
        }
    
