

.pjcontainer{

    padding-right:20px;
    background-color: #e9ecef;
}


     .picture{
        float:right;
        
        margin-top:-30px;
      

        }

        .list-group-item.active {
            font-size:14px;
            background-color: darkslategrey;
            border-color: darkslategrey;
        
        }

body {
    background-color: #e9ecef;
    
}

.jumbotron{
    background-color: #fff;
    height:90%;
    margin-bottom: -20px;

}

.card,.col-sm{
padding:20px;

}
