body{
    background-image: url("bg.png");
  
}

.container{
    display: grid;
    grid-template-columns: auto auto ;
    margin:0px auto;
    width:80%;
  
    padding:5px;

}
.container2{
    margin:0px auto;
    width:80%;
    text-align: center;
    align-items: center;
    
    

}

#result{
    border:2px dotted black;
font-size: 40px;
text-align: center;
height: 200px;
width:450px;
margin:30px auto;
}

#buttonreset{
   
    width:300px;
    margin-right:10px;
    padding-right: 20px;
}
#scoreboard{
    padding-left:20px;
    top:0px;
font-size: 25px;

height: 67px;
width:300px;


    

}

.grid{
    display: grid;
    grid-template-columns: 250px 50px ;

}
.column{
    height:25px;
}
td{
width:300px;

}

.pic:hover{
    border: 3px dotted black;
}

#playerscore, #computerscore{
   font-weight: bold;
}

#computerpic{
    object-fit: cover;

    
    width:100px;
    height:130px;


}