body{
    background-image: url("bg.png");
  
}

.container{
    display: grid;
    grid-template-columns: auto auto ;
    margin:0px auto;
    width:80%;
  
    padding:5px;

}
.container2, .choices{
    margin:0px auto;
    width:90%;
    text-align: center;
    align-items: center;
    
    

}

.container3{
    margin:0px auto;
    width:300px;
    text-align: center;
    align-items: center;
    
    

}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


.carouselExampleInterval{
    width:200px;
}

#result{
    border:2px dotted black;
font-size: 40px;
text-align: center;
height: 200px;
width:450px;
margin:30px auto;
}

#buttonreset{
   
    width:300px;
    margin-right:10px;
    padding-right: 20px;
}
#scoreboard{
    padding-left:20px;
    top:0px;
font-size: 25px;

height: 67px;
width:300px;
  

}

.left{
    float:left;
    vertical-align: middle;
    padding-top: 30px;
}
.right{
    float:right;
}

.grid{
    display: grid;
    grid-template-columns: 250px 50px ;

}
.column{
    height:25px;
}
td{
width:300px;

}

img{
    width:200px;
    height:230px;
}

.pic:hover{
    /*border: 3px dotted black;*/
}

#playerscore, #computerscore{
   font-weight: bold;
}

#computerpic{
    object-fit: cover;

    
    width:110px;
    height:145px;


}